<!DOCTYPE html>

<title>Demand index</title>
<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
{#        {{ importmap() }}#}
        <script async src="/assets/app.js"></script>
    {% endblock %}
</head>

{% block body %}
    <h1>Demand index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Created</th>
            <th>Status</th>
            <th>Title</th>
            <th></th>
            <th></th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for demand in demands %}
            <tr id="request-{{ demand.id }}">
                <td class="createdAt">{{ demand.createdAt ? demand.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demand.status }}</td>
                <td>{{ demand.title }}</td>
                <td></td>
                <td></td>
                <td>
                    <a href="{{ path('app_demand_show', {'id': demand.id}) }}">show</a>
                    <a href="{{ path('app_demand_edit', {'id': demand.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demand_new') }}">Create new</a>
{% endblock %}
